openapi: 3.1.0
info:
  title: ECHOHUB API
  description: >-
    API Endpoints for the Select Pay clients.

        SandBox url: https://sandbox.echohealthincapi.com/
        Production Url : https://api.echohealthincapi.com/

    # Authentication 

    Authentication is a process by which a system verifies the identity of a
    user accessing this API       

    <!-- ReDoc-Inject: <security-definitions> -->
  version: v1

  contact:
    name: ECHO Health Inc.
    email: Echo.Hub@echohealthinc.com





servers:
  - url: https://sandbox.echohealthincapi.com
  - url: https://api.echohealthincapi.com
  

security :
  - {}
   
paths:
  #Authorization
  /api/v1//GetToken:
    $ref: paths/Authentication/api@RequestAuthentication@V1.yaml
  /api/v1/GetTokenByAppCode:
    $ref: paths/Authentication/api@TokenAppcodeRequestAuthentication@V1.yaml     
  /api/v1/validateToken:
    $ref: paths/Authentication/api@ValidateToken@V1.yaml
      


  #SelectPay Portal
  /api/SelectPay/v1/Portal [Landing Page]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@LandingPage.yaml
  /api/SelectPay/v1/Portal [User Page]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@ValidationUserCredentials.yaml
  /api/SelectPay/v1/Portal [eCheck]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@eCheck.yaml
  /api/SelectPay/v1/Portal [Payment History]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@PaymentHistory.yaml
  /api/SelectPay/v1/Portal [eCheck PDF]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@eCheckPDF.yaml
  /api/SelectPay/v1/Portal [Routing Number]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@RoutingNumber.yaml
  /api/SelectPay/v1/Portal [Payment Form]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@PaymentForm.yaml
  /api/SelectPay/v1/Portal [Email Notification]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@EmailNotification.yaml
  /api/SelectPay/v1/Portal [ACH Payment Form]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@ACHPayment.yaml
  /api/SelectPay/v1/Portal [View EOB]:
    $ref: paths/SelectPay/api@SelectPay@v1@Portal@ViewEOB.yaml
  

components:
  securitySchemes:
    x-ApiKey:
      type: apiKey
      name: x-ApiKey
      description: The API key
      in: header
    x-ClientKey:
      type: apiKey
      description: The Client key
      name: x-ClientKey
      in: header
    x-Authorization:
      type: apiKey
      name: x-Authorization
      in: header
      description: Requests should pass an authentication key header.
    x-Appcode:
      type: apiKey
      name: AppCode
      in: header
      description: Requests should pass an appcode in  header.  
    Origin:
      type: apiKey
      name: OriginValue
      in: header
      description: Requests should pass an Origin in  header.
    Referer:
      type: apiKey
      name: RefererValue
      in: header
      description: Requests should pass an Referer in  header.

tags:
  #Authorization
  - name: Authorization
    description: |
      This endpoint helps to generate the Authorization Token for accessing the endpoints.
 
    #SelectPay
  - name: SelectPay Portal
    description: |
      SelectPay application portal helps in the processing of payments from one business (Payor) to a consumer (Payee). The application allows the payor to brand the portal and determine the payment modalities to offer the payee. However, SelectPay only initiates the payment processing and issues the payments through third-party services.  

      When the payee receives an electronic notification that their payment is ready, they can visit the portal and verify with their payment confirmation number and billing zip code. Once verified, they can use the portal to select from payment modality options such as electronic checks for instant printing and deposit, Venmo, Zelle, Direct to Debit card push, and ACH deposit to a checking account.   

      In addition, the consumer is offered the ability to view the history of payment activity and manage future payment options to a defaulted payment modality type for recurring payments. If in case, a payment notification is not acted on in a timely manner, the payment will drop to a paper check to ensure payment delivery.

  